
html { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent !important;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
}

.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
}

.splash .icon-spinner {
  text-align: center;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
}


.loader {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
  text-transform: uppercase;
}

.loader .icon-spinner {
  text-align: center;
  font-size: 20px;
}

.page-host {
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.page-heading {
  position: absolute;
  height: 140px;
  left: 0;
  right: 0;
  top: 0;
}

.page-nav {
  position: absolute;
  height: 42px;
  left: 0;
  right: 0;
  top: 140px;
}

.page-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 182px;
  bottom: 0;
}


.content-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 285px;
  border-right: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

.content-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 485px;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: auto;
}

.content-main {
  position: absolute;
  top: 0;
  left: 285px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-top: 30px;
  background-color: white;
  border-bottom-right-radius: 5px;
}

.content-main.right {
  left: 0;
  right: 485px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.content-main.center {
  left: 0;
  right: 0;
  overflow: auto;
}

.content-main .content-container {
  margin: 30px;
  margin-top: 0;
}

.content-panel .title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ddd;
  text-transform: uppercase;
}

.document-main {
  position: absolute;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.document-main iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.document-title {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 49px;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: bold;
  background-color: #eee;
  color: #999;
  text-transform: uppercase;
  padding: 15px;
}

.document-title .date {
  text-transform: none;
  float: right;
}

.document-title .icon {
  margin-right: 15px;
  cursor: pointer;
}

.document-title .icon:hover {
  color: #428bca;
}

.document-item {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
}

.document-item:hover {
  background-color: #eee;
}



.news-item {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-radius: 20px;
  color: auto; 
}


.left-content {
  border-bottom-left-radius: 5px;
  padding: 30px;
}


.menu-content.right, .program-content {
  border-right-width: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-right-radius: 5px;
  padding: 30px;
  height: 100%;
}

.panel-body .panel-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.nav-header {
  margin-top: 20px !important;
  display: block;
  padding: 3px 15px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav-sub {
}

.nav-sub a {
  padding: 2px 20px !important;
}


.nav-header:first-child {
  margin-top: 2px !important;
}


.program-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.program-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ddd;
  text-transform: uppercase;
}

.program-item {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-radius: 20px;
  color: auto; 
}



@media (max-width: 979px) {
  .page-host {
    top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
