<form class="form-horizontal well" style="background-color: white; margin-left: auto; margin-right: auto; width: 500px; padding-top: 40px;" data-bind="submit: profileModel.loginSubmit, visible: profileModel.user() === false">
  <div class="control-group">
    <label class="control-label" for="inputUsername">Användarnamn</label>
    <div class="controls">
      <input type="text" id="inputUsername" placeholder="Skriv ditt användarnamn..." data-bind="value: profileModel.inputUsername, disable: profileModel.disabled">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Lösenord</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Skriv ditt lösenord..." data-bind="value: profileModel.inputPassword, disable: profileModel.disabled">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" data-bind="disable: profileModel.disabled">Logga in</button>
    </div>
  </div>
  <div class="control-group" data-bind="visible: profileModel.error">
    <div class="controls">
      <div style="color: #b94a48">Inloggningen misslyckades!</div>
    </div>
  </div>
</form>

<div class="well" style="background-color: white; margin-left: auto; margin-right: auto; width: 500px; text-align: center;" data-bind="visible: profileModel.user() "== false">
  <h4>Du är inloggad som <span data-bind="text: profileModel.user().name"></span></h4>

  <div class="alert alert-info" data-bind="visible: profileModel.user().admin">
    <strong>Grattis!</strong><br/>
    Du har administratörsrättigheter!
  </div>

  <button type="button" class="btn" data-toggle="modal" data-target="#dialogProfilePasswordEdit" data-bind="disable: profileModel.disabled">Byt lösenord</button>

  <button type="button" class="btn" data-bind="disable: profileModel.disabled, click: profileModel.logoutSubmit">Logga ut</button>
</div>
