
<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">Eskaderseglingar</li>
      <li><a href="#">2013</a></li>
      <li class="active"><a href="#">2012</a></li>
      <li><a href="#">2011</a></li>
      <li><a href="#">2010</a></li>
      <li class="nav-header">Övrigt</li>
      <li><a href="#">2009</a></li>
      <li><a href="#">2008</a></li>
      <li><a href="#">2007</a></li>
      <li><a href="#">2006</a></li>
      <li><a href="#">2005</a></li>
      <li><a href="#">2004</a></li>
      <li><a href="#">2003</a></li>

    </ul>
  </div>

  <div class="span9">

    <div class="media well" style="background-color: white;">
      <a class="pull-left" href="#">
        <img class="media-object thumbnail" style="width: 125px; height: 125px;" alt="" src="img/artikel1.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Eskadersegling 2011</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>

    <div class="media well" style="background-color: white;">
      <a class="pull-left" href="#">
        <img class="media-object thumbnail" style="width: 125px; height: 125px;" alt="" src="img/artikel2.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">En tur på havet</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>

  </div>
</div>
