
<div id="dialogForumCategoryEdit" class="modal hide fade" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="disable: forumModel.categoryEdit.loading">&times;</button>
    <h3 data-bind="visible: forumModel.categoryEdit.item() === false">Skapa en ny kategori</h3>
    <h3 data-bind="visible: forumModel.categoryEdit.item() !== false">Ändra kategori</h3>
  </div>
  <div class="modal-body">

    <div style="margin-right: 10px;">
      <input placeholder="Skriv ett namn..." type="text" style="width: 100%; margin-bottom: 20px;" data-bind="disable: forumModel.categoryEdit.loading, value: forumModel.categoryEdit.vars['name']"/>
    </div>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: forumModel.categoryEdit.error">Misslyckades med att spara kategorin</p>
    <a href="#" class="btn" data-bind="disable: forumModel.categoryEdit.loading" data-dismiss="modal">Avbryt</a>
    <a href="#" class="btn btn-primary" data-bind="disable: forumModel.categoryEdit.loading, click: forumModel.categoryEdit.save">Spara</a>
  </div>
</div>

<div id="dialogForumThreadEdit" class="modal hide fade" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="disable: forumModel.threadEdit.loading">&times;</button>
    <h3 data-bind="visible: forumModel.threadEdit.item() === false">Skapa en tråd</h3>
    <h3 data-bind="visible: forumModel.threadEdit.item() !== false">Ändra tråd</h3>
  </div>
  <div class="modal-body">

    <div style="margin-right: 10px;">
      <input placeholder="Skriv ett ämne..." type="text" style="width: 100%; margin-bottom: 20px;" data-bind="disable: forumModel.threadEdit.loading, value: forumModel.threadEdit.vars['name']"/>
    </div>

    <textarea id="dialogForumThreadEditText" style="width: 520px; height: 260px; margin-bottom: 0px;" placeholder="Skriv en text..." data-bind="wysihtml5: forumModel.threadEdit.vars['text']"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: forumModel.threadEdit.error">Misslyckades med att skapa tråden</p>
    <a href="#" class="btn" data-bind="disable: forumModel.threadEdit.loading" data-dismiss="modal">Avbryt</a>
    <a href="#" class="btn btn-primary" data-bind="disable: forumModel.threadEdit.loading, click: forumModel.threadEdit.save">Spara</a>
  </div>
</div>

<div id="dialogForumEntryEdit" class="modal hide fade" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="disable: forumModel.entryEdit.loading">&times;</button>
    <h3 data-bind="visible: forumModel.entryEdit.item() === false">Skriv ett inlägg</h3>
    <h3 data-bind="visible: forumModel.entryEdit.item() !== false">Ändra inlägg</h3>
  </div>
  <div class="modal-body">

    <textarea id="dialogForumEntryEditText" style="width: 520px; height: 260px; margin-bottom: 0px;" placeholder="Skriv en text..." data-bind="wysihtml5: forumModel.entryEdit.vars['text']"></textarea>
  </div>
  <div class="modal-footer">
    <p class="pull-left text-error" data-bind="visible: forumModel.entryEdit.error">Misslyckades med att skapa inlägg</p>
    <a href="#" class="btn" data-bind="disable: forumModel.entryEdit.loading" data-dismiss="modal">Avbryt</a>
    <a href="#" class="btn btn-primary" data-bind="disable: forumModel.entryEdit.loading, click: forumModel.entryEdit.save">Spara</a>
  </div>
</div>
