
<div class="row-fluid">
  <div class="span3">

    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">
        Kategorier
        <span class="pull-right" data-bind="visible: profileModel.isAdmin">
          <a href="#" data-bind="click: forumModel.categoryEdit.open" title="Skapa kategori" style="text-decoration: none; text-transform: none;"><i class="icon-file"></i> Skapa ny</a>
        </span>
      </li>

      <div class="alert alert-error" data-bind="visible: forumModel.categoryEdit.error">
        <strong>Fel!</strong>
        Misslyckades med att ladda texter!
      </div>

      <div data-bind="template: { name: 'loadingTemplate', if: forumModel.categoryEdit.loading, data: 'texter' }"></div>

      <!-- ko foreach: forumModel.categoryItems.items -->
        <li data-bind="css: { active: $parent.forumModel.categoryIndex() === $index() }">
          <a href="#" data-bind="attr: { href: '#forum:' + $index() }">
            <span class="pull-right" data-bind="visible: $parent.profileModel.isAdmin">
              &nbsp;
              <span data-bind="click: $parent.forumModel.categoryEdit.open" title="Ändra kategori" style="text-decoration: none;"><i class="icon-pencil"></i></span>
              <span data-bind="click: $parent.forumModel.categoryEdit.remove" title="Ta bort kategori" style="text-decoration: none;"><i class="icon-trash"></i></span>
            </span>
            <span data-bind="text: $data.name"></span>
          </a>
        </li>
      <!-- /ko -->

    </ul>

  </div>

  <div class="span9" style="padding-bottom: 20px;">

    <div data-bind="visible: forumModel.threadIndex() === false">

      <div class="clearfix" style="margin-bottom: 20px;">
        <a class="btn btn-primary pull-right" href="#" data-bind="visible: profileModel.user() !== false, click: forumModel.threadEdit.open" title="Starta en ny tråd" style="text-decoration: none;"><i class="icon-plus"></i> Starta en ny tråd</a>
      </div>

      <div class="alert alert-error" data-bind="visible: forumModel.threadItems.error">
        <strong>Fel!</strong>
        Misslyckades med att ladda trådar!
      </div>

      <div data-bind="template: { name: 'loadingTemplate', if: forumModel.threadItems.loading, data: 'trådar' }"></div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Ämne</th>
            <th>Författare</th>
            <th>Senaste&nbsp;uppdaterad</th>
            <th>Antal&nbsp;inlägg</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: forumModel.threadItems.items">
          <tr style="cursor: pointer;" data-bind="click: function() { document.location.hash = '#forum:' + $parent.forumModel.categoryIndex() + ':' + $index(); }">
            <td>
              <span data-bind="text: $data.name"></span>
              <span data-bind="visible: $parent.profileModel.isAdmin">
                &nbsp;
                <a href="#" data-bind="click: $parent.forumModel.threadEdit.remove" title="Ta bort inlägg" style="text-decoration: none;"><i class="icon-trash"></i></a>
              </span>
            </td>
            <td data-bind="textWhoName: $data._who"></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    <!-- <div class="pagination pagination-centered">
        <ul>
          <li><a href="#">Föregående</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Nästa</a></li>
        </ul>
      </div>-->
    </div>

    <div data-bind="visible: forumModel.threadIndex() !== false">

      <div class="clearfix" style="margin-bottom: 20px;">
        <a class="btn pull-left" href="#" data-bind="attr: { href: '#forum:' + forumModel.categoryIndex() }" title="Tillbaka" style="text-decoration: none;"><i class="icon-chevron-left"></i> Tillbaka</a>

        <a class="btn btn-primary pull-right" href="#" data-bind="visible: profileModel.user() !== false, click: forumModel.entryEdit.open" title="Skriv ett inlägg" style="text-decoration: none;"><i class="icon-plus"></i> Skriv ett inlägg</a>
      </div>

      <div class="alert alert-error" data-bind="visible: forumModel.entryItems.error">
        <strong>Fel!</strong>
        Misslyckades med att ladda gästboken!
      </div>

      <div data-bind="template: { name: 'loadingTemplate', if: forumModel.entryItems.loading, data: 'inlägg' }"></div>

      <div data-bind="foreach: forumModel.entryItems.items">
        <div style="margin-top: 20px;">
          <h4>
            <span data-bind="textWhoName: $data._who"></span> skrev...
            <span data-bind="visible: $parent.profileModel.isAdmin">
              &nbsp;
              <a href="#" data-bind="click: $parent.forumModel.entryEdit.remove" title="Ta bort inlägg" style="text-decoration: none;"><i class="icon-trash"></i></a>
            </span>
          </h4>
          <p data-bind="text: $data.text"></p>
          <div class="muted" style="font-size: 12px;"><i> &mdash; Postat <span data-bind="htmlTimestampAgo: $data.timestamp"></span></i></div>
        </div>
      </div>

    </div>

  </div>
</div>

